li {
  /* list-style: none; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex-grow: 1;
}
.page-task__text {
  max-width: 800px;
}

.page__link {
  color: #090979;
  transition: color 0.3s;
  text-decoration: underline;
}

.page__link:hover {
  color: #1a5864;
}


.page__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.page__title,
.page-task__title,
.page-lesson__title {
  margin-bottom: 10px;
}


.page-lesson__subtitle {
  margin-bottom: 10px;
}

.page-lesson__link {
  color: #090979;
  transition: color 0.3s;
  text-decoration: underline;
}

.page-lesson__link:hover {
  color: #056a7e;
}

.page-task__script {
  padding: 20px;
}

