
// ===================================================================
[class*="__container"] {
  max-width: 1400px;
  padding-inline: 15px;
  margin: 0 auto;
}
#body-main {

}
  .wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: clip;

   >main {
      flex-grow: 1;
   }
}
body {}
// ============================================================
h1 {
  font-size: 40px;
  text-align: center;
  color: rgb(136, 21, 21);
}
h3 {
  font-size: 30px;
}

// ===================================================
.page__link {  
  color: #090979;
  transition: color 0.3s;
  text-decoration: underline;
}
.page__link::before {
  
}
.page__link:hover {
  color: #0c4652;
}
.page__subtitle {
  display: flex;
  align-items: center;
  gap: 5px;
}

.page__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.page__title,
.page-task__title,
.page-lesson__title {
  margin-bottom: 30px;
}
.page__container,
.page-lesson__container,
.page-task__container {
  padding-block: 50px;
}
// ===================================================
.page-lesson__container {
  max-width: 800px;
}
.page-lesson__title {}

.page-lesson__subtitle {
  margin-bottom: 30px;
}

.page-lesson__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.page-lesson__item {
  padding: 30px;
  background-color: lightgray;
  border-radius: 20px;
}
.page-lesson__link {
   color: #090979;
   transition: color 0.3s;
   text-decoration: underline;
}
.page-lesson__link:hover {
  color: #00D4FF;
}
.page-lesson__text {
}

// ========================================================
.page-task {
}
.page-task__container {
  
}
.page-task__title {
}
.page-task__inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}
.page-task__text {
  background-color: lightgray;
  padding: 40px;
  border-radius: 20px;
}
.page-task__script {
  padding: 40px;
  background-color: lightblue;
  border-radius: 20px;
}